@media screen and (max-width:1100px){
.app-count-wrapper{
  padding: 7px;
}
.app-form-wrapper{
  width:50%;
}
}
@media screen and (max-width:862px){
  .app-header{
    padding:0rem ;
  }
  .app-header-inside{
    flex-direction: column;
    justify-content: space-between !important;
  }
  .app-header-inside>div{
    margin: 1%;
  }
  .app-main > .app-main-inside{
    width:100%;
  }
  .no-task-display>h2{
    font-size: 2.5rem;
  }
  .single-task-item{
    width: 100%;
    justify-content: space-between;
  }
  .task-checkbox-wrapper{
    width: 10%;
  }
  .task-list-wrapper{
    max-height: 500px;
  }
  .task-btn-wrapper{
    width:30%;
  }
}