/*style for all,html,body*/ 
html, body {
    width: 100%;
    height:100%;
    background-color:whitesmoke;
    color:black;
    font-size:14px;
    font-family: sans-serif;
  }
  
  *{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  .app-header{
    padding:2.5rem;
    border: 5px solid white;
    top:0;
    left:0;
    width:100%;
    position: fixed;
    background-color: rgba(255, 235, 205, 0.562);
    z-index: 99;
  }
  .app-header>.app-header-inside{
    width:90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .app-logo-wrapper>h1{
    font-size: 2.4rem;
  }
  .app-form-wrapper{
    width:60%;
  }
  .app-form-wrapper input[type=text]{
    width:100%;
    padding:10px;
    border-radius: 16px;
    outline: none;
    font-size: 1.7rem;
    border: 5px solid white;
    background: transparent;
  }
  .app-count-wrapper{
    border: 5px solid white;
    padding: 10px;
    border-radius: 16px;  
  }
  .app-count-wrapper span{
    border: 3px solid white;
    padding: 3px;
    border-radius: 16px;
    background-color: orange;
  }
  .app-main{
    height: 100%;
    width:100%;
    position: fixed;
    background-color: rgba(201, 192, 192, 0.849);
  }
  .app-main > .app-main-inside{
    width:100%;
    height: 100%;
    padding: 3%;
  }
  .app-main-inside>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 20% auto;
  }
  .no-task-display{
    font-size: 2rem;
  }
  .no-task-display>h2{
    text-align: center;
  }
  .task-list-wrapper{
    flex-direction: column;
    height:400px;
    margin-top: 12% !important;
    overflow: auto;
    border: 1px solid white;
    /* overflow-y: scroll; */
  }
  /* .task-list-wrapper::-webkit-scrollbar {
    display: none;
  } */
  .single-task-item{
    display: flex;
    margin: 6px 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 80%;
    background-color: wheat;
    border:2px solid white;
    border-radius: 16px;
    position:relative;
    top:0;
    left:0;
    opacity: 1;
    transition:all 1s;
  }
  .single-task-item>div>*{
    padding: 4px;
  }
  .task-checkbox-wrapper>*{
    width: 100%;
    height:100%;
    border: none;
    outline: none;
  }
  .task-data-wrapper{
    width:50%;
  }
  .task-data-wrapper>input[type=text]{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size:1.8rem;
  }
  .task-btn-wrapper{
    width:20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .task-btn-wrapper button{
    outline: none;
    border: none;
    color:white;
  }
  .task-btn-wrapper button:nth-child(odd){
    background-color: orange;
  }
  .task-btn-wrapper button:nth-child(even){
    background-color: rgb(223, 80, 80);
  }

  .task-completed-style{
    background-color: grey;
  }
  .task-completed-style div>input[type=text]{
    text-decoration: line-through;
  }
  .animate-remove{
    left:150px;
    opacity: 0;
    background-color: rgb(236, 27, 27);
  }